

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Merriweather:wght@300&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;

}


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
     /* font-family: 'Merriweather';  */
     background-color: rgb(218, 231, 227);  
  }
  
  .nav {
    height: 65px;
    width: 100%;
     background-color: #ffffff;   
    position: fixed;
    z-index: 10;
    top: 0.1px;
   
    font-family: Merriweather;
  }
  
  .nav > .nav-header {
    display: inline;
    margin-left: 80px;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 35px;
    color: rgb(10, 4, 4);
    padding: 15px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 25px;
    margin-right: 60px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 18px 25px 18px 25px;
    text-decoration: none;
    color: #0a0505;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  

.home{
     display: flex; 
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine;   */
    height: 600px;
    font-family: Merriweather;
    
}
.home a{
  text-decoration: none;
  color: white;
}
.text{
    width: 40%;
    font-size: 40px;
       /* background-color: blue;    */
     line-height: 70px;
     margin-left: 100px;
}
.text button{
    padding: 10px;
    font-size: 25px;
    background-color: rgb(17, 179, 179);  
    border: none;
    border-radius: 10px;
}
.image{
    width: 40%;
    height: 500px;
    /* border: 3px solid red; */
     /* border-radius: 50%;  */
    /* margin: auto; */
       /* background-color: blue;    */
      /* background-color: rgb(16, 177, 177);  */
}
.image img{
    width: 70%;
    height: 80%;
      border-radius: 40%;       
    object-fit: cover;
     /* margin-left: 80px;  */
    margin-top: 50px;
}

.about{
    width: 60%;
    font-size: 25px;
    font-family: Merriweather;
    height: auto;
    margin: auto;
     /* background-color: burlywood;  */
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.about h2:first-child{
 
      margin-left: 45%;  
     /* justify-content: center; */
     padding: 8px;
}

.line{
    width: 200px;
    height: 3px;
    background-color: blueviolet;
    margin-left: 38%;
}
.about h2{
    margin-left: 38%;  
    font-size: 25px;
    padding: 8px;
    padding-bottom: 8px;
}

.about p{
    padding-top: 8px; 
    line-height: 35px;
    font-size: 20px; 
    text-align: center;
}
/* ---------------------------------------------- */

#container{
  
  width: 100%;
  height:auto;
   /* background-color: rgb(7, 72, 129);  */
  /* padding: 20px; */
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#container h1{
    margin-bottom: 30px;
}

.technical{
    width: 90%;
    height: auto;
      /* background-color: white;   */
    margin: auto;
    /* z-index: 10; */
    display: grid;
    grid-template-columns: repeat(3,130px);
    grid-template-rows: repeat(3,100px);
    column-gap: 100px;
    row-gap: 80px;
    justify-content: space-between;
    justify-content: center;
    margin-bottom: 30px;
}
.technical>div{
    width: 150px;
    height: 150px;
    padding: 10px;
     /* border: 1px solid blue; */
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     background-color: white;
     border-radius: 15px;
    }

    .technical>div:hover{
       scale: 1.05;
      }

/* .soft{
    width: 90%;
    height: 150px; */
      /* background-color: white;   */
    /* margin: auto; */
    /* z-index: 10; */
    /* display: grid;
    grid-template-columns: repeat(4,130px);
    grid-template-rows: repeat(1,100px);
    column-gap: 50px;
    justify-content: space-between;
    margin-bottom: 30px;
} */
/* .soft div{
  width: 150px;
  height: 150px;
  padding: 10px;
   /* border: 1px solid blue; */
   /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   /* background-color: white; */
   /* border-radius: 15px; */
/* } */ 

#container img{
    width: 100%;
    height: 85%;
    /* border-radius: 50%; */
}

#container h1{
    color: rgb(0, 0, 0);
}

.project{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2,40%);
  grid-template-rows: repeat(2,500px);
  column-gap: 40px;
  row-gap: 40px;
  justify-content: space-evenly;
  justify-content: center;
  /* background-color: rgb(238, 238, 230); */
  padding: 25px;
}

.project>div{
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.project>div>div{
    width: 100%;
     padding: 5px; 
    height: 50%;
    /* background-color: aquamarine; */
}
.project>div>div>img{
    width: 100%;
    height: 100%;
     object-fit: cover; 
}
.project>div>div>img:hover{
  /* width: 130%;
  height: 130%; */
   /* object-fit: cover;  */
   transform: scale(1.05); 
}
.project>div>p{
 font-size: 20px;
 text-align: left;
 padding: 10px;
 font-family: Merriweather;
 line-height: 25px;
}
.project>div>button{
  font-size: 15px;
  margin-left: 10px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Merriweather;
  background-color: rgb(17, 163, 163);
  border-radius: 10px;
  border: none;
 }
 .project>div>button>a{
  text-decoration: none;
  color: white;
 }

 .contact{
  text-align: center;
  font-size: 25px;
  background-color: #031c2b;
  height: 350px;
  color: #eceef0;
  font-family: Merriweather;
 }
 .contact h2{ 
  margin: 10px;
  font-size: 25px;
 }
 .contact h2:first-child{ 
  padding-top: 70px;
  margin: 10px;
 }
 .contact .line{
   margin: auto;
   width: 250px;
   height: 3px;
   background-color: blueviolet;
 }
 .icon ion-icon{
  margin: 8px;
 }
 .contact a{
    color: #eceef0;
 }
/* ---------------------------------------------- */
    @media all and (min-width: 480px) and (max-width: 770px){
    
    
    
     .home{ 
        display: block;
        height: auto;
        /* background-color: blue; */
      
    }
    .text{
        margin: auto;
        padding-top: 95px;
        width: 75%;
        /* background-color: blueviolet; */
    }
    .image{
        margin: auto;
        width: 75%;
         /* background-color: blueviolet;  */
    }
    .image img{
        margin-left: 70px;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
        /* background-color: #0a0505; */
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid rgb(0, 0, 0);
        /* background-color: #0a0505; */
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
      #container{
  
        width: 100%;
        height:auto;
        /* background-color: aliceblue; */
        padding: 20px;
        margin: auto;
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 30px;
      }
      .technical{
        width: 90%;
        height: auto;
          /* background-color: white;   */
        margin: auto;
        /* z-index: 10; */
        display: grid;
        grid-template-columns: repeat(2,130px);
        grid-template-rows: repeat(5,100px);
        column-gap: 70px;
        row-gap: 70px;
        justify-content: space-between;
        justify-content: center;
        margin-bottom: 30px;
    }

   
}

@media all and (min-width: 300px) and (max-width: 480px){
   
  .nav > .nav-header {
    display: inline;
    margin-left: 20px;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 35px;
    color: rgb(8, 4, 4);
    padding: 15px 10px 10px 10px;
  }
  .home{ 
        display: block;
        height: auto;
        /* background-color: blue; */
        padding-top: 70px;
    }
    .text{
        margin: auto;
        padding-top: 50px;
        width: 85%;
        /* background-color: blueviolet; */
    }
    .image{
        margin: auto;
        width: 90%;
         /* background-color: blueviolet;  */
    }
    .image img{
        margin-left: 40px;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid rgb(3, 0, 0);
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }

      .technical{
        width: 90%;
        height: auto;
          /* background-color: white;   */
        margin: auto;
        /* z-index: 10; */
        display: grid;
        grid-template-columns: repeat(2,100px);
        grid-template-rows: repeat(5,120px);
        column-gap: 40px;
        row-gap: 40px;
        justify-content: space-between;
        justify-content: center;
        margin-top: 40px;
        padding-top: 40px;
        margin-bottom: 30px;
    }
    #container{
      margin-top: 50px;
      width: auto;
      height:auto;
      /* background-color: aliceblue; */
      padding: 20px;
      margin: auto;
      text-align: center;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }

    .technical>div{
      width: 100px;
      height: 100px;
      padding: 10px;
       /* border: 1px solid blue; */
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
       background-color: white;
       border-radius: 15px;
       font-size: 12px;
      }
      .about h2{
 
        margin-left: 30%;  
       /* justify-content: center; */
       padding: 8px;
    }
      .about h2:first-child{
 
        margin-left: 35%;  
       /* justify-content: center; */
       padding: 8px;
  }
  
  
  .line{
      width: 100px;
      height: 3px;
      background-color: rgb(128, 13, 163);
      margin-left: 32%;
  }
}

@media all and (min-width: 770px) and (max-width: 1050px){
 
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .home{
    margin-top: 50px;
  }
  .project{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1,80%);
    grid-template-rows: repeat(4,500px);
    column-gap: 40px;
    row-gap: 40px;
    justify-content: space-evenly;
    justify-content: center;
    background-color: rgb(238, 238, 230);
    padding: 25px;
  }
  
}
@media all and (min-width: 400px) and (max-width: 770px){

  .project{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1,80%);
    grid-template-rows: repeat(4,450px);
    column-gap: 40px;
    row-gap: 40px;
    justify-content: space-evenly;
    justify-content: center;
    background-color: rgb(238, 238, 230);
    padding: 25px;
  }
  .project>div>p{
    font-size: 15px;
    text-align: left;
    padding: 5px;
    font-family: Merriweather;
    line-height: 20px;
    margin-top: 10px;
   }
   .h2{
    font-size: 20px;
   }
  
}
@media all and (min-width: 300px) and (max-width: 400px){

  .project{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1,80%);
    grid-template-rows: repeat(4,480px);
    column-gap: 40px;
    row-gap: 40px;
    justify-content: space-evenly;
    justify-content: center;
    background-color: rgb(238, 238, 230);
    padding: 25px;
  }
  .project>div>p{
    font-size: 13px;
    text-align: left;
    padding: 5px;
    font-family: Merriweather;
    line-height: 20px;
    margin-top: 10px;
   }
   .h2{
    font-size: 20px;
   }
  
}