

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;

}


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
     /* font-family: 'Merriweather';  */
    background-color: aquamarine;  
  }
  
  .nav {
    height: 70px;
    width: 100%;
    background-color: rgb(124, 167, 24);  
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  

.home{
     display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;  
    height: 550px;
    font-family: Merriweather;
    
}

.text{
    width: 40%;
    font-size: 40px;
       /* background-color: blue;    */
     line-height: 70px;
     margin-left: 100px;
}
.text button{
    padding: 10px;
    font-size: 25px;
     background-color: rgb(17, 179, 179);  
    border: none;
    border-radius: 10px;
}
.image{
    width: 40%;
    height: 500px;
    /* border: 3px solid red; */
     /* border-radius: 50%;  */
    /* margin: auto; */
       /* background-color: blue;    */
      /* background-color: rgb(16, 177, 177);  */
}
.image img{
    width: 70%;
    height: 80%;
      border-radius: 40%;  
    object-fit: cover;
     /* margin-left: 80px;  */
    margin-top: 50px;
}

.about{
    width: 60%;
    font-size: 25px;
    font-family: Merriweather;
    height: 350px;
    margin: auto;
    /* background-color: burlywood; */
}
.about h2:first-child{
 
      margin-left: 45%;  
     /* justify-content: center; */
     padding: 8px;
}

.line{
    width: 200px;
    height: 3px;
    background-color: rgb(128, 13, 163);
    margin-left: 38%;
}
.about h2{
    margin-left: 38%;  
    font-size: 25px;
    padding: 8px;
    padding-bottom: 8px;
}

.about p{
    padding-top: 8px; 
    line-height: 35px;
    font-size: 20px; 
    text-align: center;
}

    @media all and (min-width: 480px) and (max-width: 700px){
    .home{ 
        display: block;
        height: auto;
        /* background-color: blue; */
    }
    .text{
        margin: auto;
        padding-top: 50px;
        width: 75%;
        /* background-color: blueviolet; */
    }
    .image{
        margin: auto;
        width: 75%;
         /* background-color: blueviolet;  */
    }
    .image img{
        margin-left: 70px;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
}

@media all and (min-width: 300px) and (max-width: 480px){
    .home{ 
        display: block;
        height: auto;
        /* background-color: blue; */
    }
    .text{
        margin: auto;
        padding-top: 50px;
        width: 85%;
        /* background-color: blueviolet; */
    }
    .image{
        margin: auto;
        width: 90%;
         /* background-color: blueviolet;  */
    }
    .image img{
        margin-left: 40px;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
}